<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <a href='/'>Home</a>
    <a href='/open-course'>Open Course</a>
    <a href='/vip-course'>VIP Course</a>
    {{{body}}}
  </body>
</html>
