<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <!-- 导航栏 -->
    <div class='nav'>
      <a href='/'>Home</a>
      <a href='/open-course'>Open Course</a>
      <div>
        {{#each courses}}
          <a href='{{url}}'>{{name}}</a>
        {{/each}}
      </div>
      <a href='/vip-course'>VIP Course</a>
    </div>
    {{{body}}}
  </body>
</html>
